* {
    padding:0;
    margin:0;
}

:root {
    --background-color: #262626;
    --background-color-dark: #1b1b1b;
    --text-color: #ffffff;
    --text-color-faded: #dddddd;
    --button-background-color: #ffffff;
    --button-text-color: #ffffff;
    --main-color: #FFC800;
    --main-color-md-light: #ffde66;
    --main-color-light: #ffeeb3;
    --main-color-md-dark: #e6b400;
    --main-color-dark: #806400;
    --secondary-color: #e60004;
    --secondary-color-md-light: #ff4d4f;
    --secondary-color-light: #ffcccd;
    --secondary-color-md-dark: #b30003;
    --secondary-color-dark: #660002;
    --h1-size: 6vh;
    --h2-size: 5vh;
    --h3-size: 4vh;
    --h4-size: 4vh;
    --text-size: 2.5vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Verdana, sans-serif;
    font-size: var(--text-size);
    display:block;
    //position: absolute;
    //top: 100%;
    //width: 100%;
}

main {
    margin: 0 7% 0 7%;
}

h1, h2, h3, h4, p {
    margin: 3.5vh 0 1vh 0;
}

h1 {
    font-weight: 500;
    font-size: var(--h1-size);
}

h2 {
    font-weight: 500;
    font-size: var(--h2-size);
}

h3 {
    font-weight: 500;
    font-size: var(--h3-size);
}

h4 {
    font-weight: 400;
    font-size: var(--h4-size);
}

p {
}

a {
    color: var(--main-color);
    transition: color 200ms;
}

a:visited {
    color: var(--main-color-md-dark);
    transition: color 200ms;
}

a:visited:hover {
    color: var(--main-color-md-light);
}

a:hover {
    color: var(--main-color-md-light);
}

ul {}

ol {}

img {
    max-width: 100%;
    border-radius: .8vh;
}

blockquote {
    background-color: var(--background-color-dark);
    color: var(--text-color-faded);
    padding: 1.3vw;
    font-style: italic;
    border-radius: 1vh;
}

header {
    min-width: 100%;
    margin: 0;
    background-color: var(--background-color-dark);
    box-shadow: 0 .1vh 3vh var(--background-color-dark);
    padding-top: 3vh;
    padding-bottom: 3vh;
    color: var(--text-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/detroit-alliance-january-rally.jpg");
    font-weight: bold;
    background-size: 100%;
    background-position: center;
}

header>h1 {
    margin: 1vh 3vh 0 3vh;
    font-size: var(--h3-size);
    text-align: center;
    font-weight: bold;
}

#close-button {
    display: block;
    font-size: var(--h1-size);
    padding-bottom: 3vh;
    padding-right: 3vh;
    text-align: right;
}

header:has(nav.show) {
    padding: 0;
}

nav.show #close-button {
    background-color: var(--background-color-dark);
    transform: scale(1, 1);
    transition: 0.1s ease-in;
}

nav.hide #close-button {
    height: 0;
    transform: scale(0, 1);
    transition: 0.1s;
}

#close-button button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

nav ul {
    background-color: var(--background-color-dark);
    list-style-type: none;
}

nav > ul > li {
    margin: 0 5% 10% 5%;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--h4-size);
}
  
nav a:visited {
    color: var(--text-color);
}

nav.show {
    height: 100vh;
    display: block;
    transition: 0.1s ease-in;
    background-image: none;
}

nav.hide {
    height: 0;
    transition: 0.1s;
    overflow: auto;
}

nav.show ul {
    height: 100%;
    transform: scale(1, 1);
    transition: 0.1s ease-in;
}

nav.hide ul {
    transform: scale(0, 1);
    transition: 0.1s;
}

#menu-button {
    font-size: var(--h3-size);
    display: block;
    text-align: center;
}

#menu-button button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

.no-scroll {
    overflow: hidden;
}

@media(min-width: 1000px) {

    header>h1{
	font-size: var(--h1-size);
	text-align: left;
	margin-left: 5%;
    }

    nav {
	position: relative;
	margin-bottom: 4vh;
    }

    nav ul {
	display: flex;
	flex-direction: row;
	justify-content: right;
	gap: 10vh;
	margin-right: 8vh;
    }

    nav > ul > li {
	display: inline;
	margin: 0;
	min-width: 0;
	min-height: 0;
    }
    
    main {
	margin: 0 7% 0 7%;
    }

    #menu-button {
	display: none;
    }

    nav.hide {
	background: none;
	transform: scale(1, 1);
	overflow: hidden;
	height: auto;
    }

    nav.hide ul {
	background: none;
	transform: scale(1, 1);
	//height: 6vh;
	min-height: 0;
    }

}

@media(min-width: 1800px) {
    main {
	margin: 0 20% 0 20%;
    }

}
